* {
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: rgb(56, 56, 56);
}

/* nav */
nav {
    display: grid;
    height: 3rem;
    grid-area: nav;
    min-width: 100vh;
    grid-template-areas: "logo none nav-items";
    grid-template-columns: 1fr auto 5fr;
    background-color: rgba(56, 56, 56, 0.4);
}

/* logo */
.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 1rem;
    grid-area: logo;
}

.logo img {
    height: 1.8rem;
}

/* nav-items */
.nav-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    grid-area: nav-items;
}

.nav-items a {
    padding-right: 2rem;
    text-decoration: none;
    font-weight: 800;
}

/* main */
main {
    display: grid;
    grid-template-areas:
        'photos'
        'embroidery'
        'games';
    gap: 2rem;
    padding: 1rem;
}

/* card */
.card-e {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18rem;
    border-radius: 5%;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(56, 56, 56, 0.15);
}

.card-e img {
    width: 100%;
    border-radius: 5%;
    filter: saturate(0%);
}

.card-e img:hover {
    filter: none;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18rem;
    border-radius: 5%;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(56, 56, 56, 0.15);
}

.card img {
    width: 100%;
    border-radius: 5%;
    filter: saturate(0%);
}

.card img:hover {
    filter: none;
}

/* section title */
.title {
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

/* photos */
#photos {
    grid-area: photos;
    display: grid;
    max-width: 100vh;
    justify-content: center;
    grid-template-areas:
        "title title"
        "f1 f4"
        "f3 f6"
        "f5 f2";
    gap: 1rem;
    padding: 1rem;
}

.f1 {
    grid-area: f1;
    object-fit: cover;
    filter: saturate(0%);
}

.f1:hover {
    filter: none;
    border-radius: 15%;
}

.f2 {
    grid-area: f2;
    object-fit: cover;
    filter: saturate(0%);
}

.f2:hover {
    filter: none;
    border-radius: 15%;
}

.f3 {
    grid-area: f3;
    object-fit: cover;
    filter: saturate(0%);
}

.f3:hover {
    filter: none;
    border-radius: 15%;
}

.f4 {
    grid-area: f4;
    object-fit: cover;
    filter: saturate(0%);
}

.f4:hover {
    filter: none;
    border-radius: 15%;
}

.f5 {
    grid-area: f5;
    object-fit: cover;
    filter: saturate(0%);
}

.f5:hover {
    filter: none;
    border-radius: 15%;
}

.f6 {
    grid-area: f6;
    object-fit: cover;
    filter: saturate(0%);
}

.f6:hover {
    filter: none;
    border-radius: 15%;
}

/* embroidery */
#embroidery {
    grid-area: embroidery;
    display: grid;
    max-width: 100vh;
    justify-content: center;
    grid-template-areas:
        'title title'
        'e1 e2'
        'e4 e5'
        'e3 e6';
    gap: 1rem;
    padding: 1rem;
}

.e1 {
    grid-area: e1;
    object-fit: cover;
    filter: saturate(0%);
}

.e1:hover {
    filter: none;
    border-radius: 15%;
}

.e2 {
    grid-area: e2;
    object-fit: cover;
    filter: saturate(0%);
}

.e2:hover {
    filter: none;
    border-radius: 15%;
}

.e3 {
    grid-area: e3;
    object-fit: cover;
    filter: saturate(0%);
}

.e3:hover {
    filter: none;
    border-radius: 15%;
}

.e4 {
    grid-area: e4;
    object-fit: cover;
    filter: saturate(0%);
}

.e4:hover {
    filter: none;
    border-radius: 15%;
}

.e5 {
    grid-area: e5;
    object-fit: cover;
    filter: saturate(0%);
}

.e5:hover {
    filter: none;
    border-radius: 15%;
}

.e6 {
    grid-area: e6;
    object-fit: cover;
    filter: saturate(0%);
}

.e6:hover {
    filter: none;
    border-radius: 15%;
}

/* games */
#games {
    grid-area: games;
    display: grid;
    max-width: 100vh;
    justify-content: center;
    grid-template-areas:
        "title title"
        "g1 g2"
        "g3 g4"
        "g5 g6";
    gap: 1rem;
    padding: 1rem;
}

.g1 {
    grid-area: g1;
    object-fit: cover;
    filter: saturate(0%);
}

.g1:hover {
    filter: none;
    border-radius: 15%;
}

.g2 {
    grid-area: g2;
    object-fit: cover;
    filter: saturate(0%);
}

.g2:hover {
    filter: none;
    border-radius: 15%;
}

.g3 {
    grid-area: g3;
    object-fit: cover;
    filter: saturate(0%);
}

.g3:hover {
    filter: none;
    border-radius: 15%;
}

.g4 {
    grid-area: g4;
    object-fit: cover;
    filter: saturate(0%);
}

.g4:hover {
    filter: none;
    border-radius: 15%;
}

.g5 {
    grid-area: g5;
    object-fit: cover;
    filter: saturate(0%);
}

.g5:hover {
    filter: none;
    border-radius: 15%;
}

.g6 {
    grid-area: g6;
    object-fit: cover;
    filter: saturate(0%);
}

.g6:hover {
    filter: none;
    border-radius: 15%;
}

/* footer */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(56, 56, 56);
    height: 3rem;
    margin-top: 1rem;
}

footer h1 {
    font-size: 14px;
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
}

.icon {
    margin: 0.5rem;
    transform: scale(1.5);
}
